{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Maschinendeck MDOS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/index.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one column">
	<!-- empty -->
      </div>
      <div class="ten column main">
	<form action="" method="post">
	  {% if messages %}
	  <ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}

	  {% if not form.session.value %}

	  <img src="{% static "images/maschinendeck.png" %}" alt="Maschinendeck-Logo" class="logo">
	  {% csrf_token %}
	  {{ form.session }}
	  <input class="button button-primary" type="submit" value="Tür öffnen" />

	  {% else %}

	  {% csrf_token %}
	  {{ form.pin.errors }}
	  {{ form.pin }}
	  {{ form.session }}
	  <div>
	    <a href="" class="button">cancel</a>
	    <input class="button button-primary" type="submit" value="Tür öffnen" />
	  </div>
	  
	  {% endif %}
	</form>
	
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
