{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Maschinendeck MDOS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/index.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

  <script src="{% static "admin/js/jquery.js" %}"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one column">
	<!-- empty -->
      </div>
      <div class="ten column main">
	<form action="" method="post">
	  {% if messages %}
	  <ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}

	  {% if not form.session.value %}

	  <img src="{% static "images/maschinendeck.png" %}" alt="Maschinendeck-Logo" class="logo">
	  {% csrf_token %}
	  {{ form.session }}
	  <input class="button button-primary" type="submit" value="Tür öffnen" />

	  {% else %}

	  {% csrf_token %}
	  {{ form.pin.errors }}
	  {{ form.pin }}
	  <div id="pinpad">
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">1</div></div>
	      <div class="pinbutton"><div class="pinnumber">2</div></div>
	      <div class="pinbutton"><div class="pinnumber">3</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">4</div></div>
	      <div class="pinbutton"><div class="pinnumber">5</div></div>
	      <div class="pinbutton"><div class="pinnumber">6</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">7</div></div>
	      <div class="pinbutton"><div class="pinnumber">8</div></div>
	      <div class="pinbutton"><div class="pinnumber">9</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton pinbutton-cancel"><div class="pinnumber">C</div></div>
	      <div class="pinbutton"><div class="pinnumber">0</div></div>
	      <div class="pinbutton pinbutton-ok"><div class="pinnumber">OK</div></div>
	    </div>
	  </div>
	  {{ form.session }}
	  <div>
	    <a href="" class="button">cancel</a>
	    <input class="button button-primary" type="submit" value="Tür öffnen" />
	  </div>
	  <script>
	   $(document).ready(function() {
	       $('.pinnumber').click(function(e) {
		   var num = e.target.innerHTML;
		   if (num == "OK") {
		       document.forms[0].submit();
		   } else if (num == "C") {
		       alert('reset');
		   } else {
		       alert(num);
		   }
		   });
	       });
	  </script>
	  {% endif %}
	</form>
	
      </div>
    </div>
  </div>

<!-- End Document
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
