{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Maschinendeck MDOS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/index.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

  <script src="{% static "js/jquery.js" %}"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one column">
	<!-- empty -->
      </div>
      <div class="ten column main">
	<form action="" method="post">
	  {% if messages %}
	  <ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}

	  {% if not form.session.value %}

	  <img src="{% static "images/maschinendeck.png" %}" alt="Maschinendeck-Logo" class="logo">
	  {% csrf_token %}
	  {{ form.session }}
	  <button class="button-primary" type="submit" name="action" value="open">Tür öffnen</button>
	  <button class="button-secondary" type="submit" name="action" value="closex" data-confirm="Achtung! Benutze diese Funktion nicht, wenn du nicht vor Ort bist! Das Schließen der Tür kann nicht rückgängig gemacht werden, wenn du nicht vor Ort bist!">Tür schließen</button>
	  <!-- <button class="button-secondary" type="submit" name="action" value="open_room">Raumstatus auf</button>
	  <button class="button-secondary" type="submit" name="action" value="close_room">Raumstatus zu</button> -->
	  <script>
	   $('button[data-confirm]').on('click', function (e) {
	   alert('Erwartet die Kosmetikerin Kunden?');
	   return confirm($(this).attr('data-confirm'));
	   });
	  </script>

	  {% else %}
	  <img id="counter" src="{% static "images/maschinendeck.png" %}" alt="Maschinendeck-Logo">
	  {% csrf_token %}
	  {{ form.pin.errors }}
	  	  <input id="pin" name="{{ form.pin.html_name }}" value="" autofocus="true" maxlength="4" />
		  

	  <div id="pinpad">
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">1</div></div>
	      <div class="pinbutton"><div class="pinnumber">2</div></div>
	      <div class="pinbutton"><div class="pinnumber">3</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">4</div></div>
	      <div class="pinbutton"><div class="pinnumber">5</div></div>
	      <div class="pinbutton"><div class="pinnumber">6</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton"><div class="pinnumber">7</div></div>
	      <div class="pinbutton"><div class="pinnumber">8</div></div>
	      <div class="pinbutton"><div class="pinnumber">9</div></div>
	    </div>
	    <div class="pinpadrow">
	      <div class="pinbutton pinbutton-cancel"><div class="pinnumber">C</div></div>
	      <div class="pinbutton"><div class="pinnumber">0</div></div>
	      <div class="pinbutton pinbutton-ok"><div class="pinnumber">OK</div></div>
	    </div>
	  </div>
	  {{ form.session }}
	  <div>
	    <a href="" class="button">cancel</a>
	    <input class="button button-primary" type="submit" value="Tür öffnen" />
	  </div>
	  <script>
	   $(document).ready(function() {
	       $('.pinnumber').click(function(e) {
		   var num = e.target.innerHTML;
		   if (num == "OK") {
		       document.forms[0].submit();
		   } else if (num == "C") {
		       $('#pin').val('');
	           } else {
	               $('#pin').val($('#pin').val() + num);
	               if ($('#pin').val().length == 4) {
	                 document.forms[0].submit();
	               }
		   }
		   });
	   });
	   $('#pin').keyup(function() {
	       if ($('#pin').val().length == 4) {
	                 document.forms[0].submit();
	   }
	   });

	   var counter = 15;
	   var interval = setInterval(function() {
	   counter--;
	   $('#counter').html("" + counter + "s");
	   if (counter == 0) {
             document.forms[0].submit();
	   }
	   }, 1000);
	  </script>
	  {% endif %}
	</form>
	
      </div>
    </div>
  </div>

<!-- End Document
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
