.main {
    text-align: center;
}

.logo {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.main button {
    padding-top: 20px;
}

.messages li {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    
}

.messages li.info {
    background-color: #9f9;
}

.messages li.error {
    background-color: #f99;
}

input[name="pin"] {
    font-size: 40px;
    height: 45px;
}
