.main {
    text-align: center;
}

.logo {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.main button {
    padding-top: 20px;
}

.messages li {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    
}

.messages li.info {
    background-color: #9f9;
}

.messages li.error {
    background-color: #f99;
}

input[name="pin"] {
    font-size: 40px;
    height: 45px;
}

#pinpad {
    
}

.pinbutton {
    width: 20%;
    margin: 2% 5%;
    max-width: 5em;
    display: inline-block;
    border: 1px solid #999;
    position: relative;
    border-radius: 4px;
    background-color: #222;
}

.pinbutton:active {
    background-color: #ddd;
}

.pinbutton:before {
    content: "";
    display:block;
    padding-top: 100%;
}

.pinnumber {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 2.5em;
    height: 2.5em;
    color: #EEE;
}

.pinpadrow {
    text-align: center;
}
